.chat-overlay *, .chat-overlay ::before, .chat-overlay ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.chat-overlay ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

.chat-overlay *,
.chat-overlay ::before,
.chat-overlay ::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

.chat-overlay ::before,
.chat-overlay ::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
.chat-overlay :host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

.chat-overlay hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

.chat-overlay abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

.chat-overlay h1,
.chat-overlay h2,
.chat-overlay h3,
.chat-overlay h4,
.chat-overlay h5,
.chat-overlay h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

.chat-overlay a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

.chat-overlay b,
.chat-overlay strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

.chat-overlay code,
.chat-overlay kbd,
.chat-overlay samp,
.chat-overlay pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

.chat-overlay small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

.chat-overlay sub,
.chat-overlay sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.chat-overlay sub {
  bottom: -0.25em;
}

.chat-overlay sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

.chat-overlay table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

.chat-overlay button,
.chat-overlay input,
.chat-overlay optgroup,
.chat-overlay select,
.chat-overlay textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

.chat-overlay button,
.chat-overlay select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

.chat-overlay button,
.chat-overlay input:where([type='button']),
.chat-overlay input:where([type='reset']),
.chat-overlay input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

.chat-overlay :-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

.chat-overlay :-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

.chat-overlay progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

.chat-overlay ::-webkit-inner-spin-button,
.chat-overlay ::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

.chat-overlay [type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

.chat-overlay ::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

.chat-overlay ::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

.chat-overlay summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

.chat-overlay blockquote,
.chat-overlay dl,
.chat-overlay dd,
.chat-overlay h1,
.chat-overlay h2,
.chat-overlay h3,
.chat-overlay h4,
.chat-overlay h5,
.chat-overlay h6,
.chat-overlay hr,
.chat-overlay figure,
.chat-overlay p,
.chat-overlay pre {
  margin: 0;
}

.chat-overlay fieldset {
  margin: 0;
  padding: 0;
}

.chat-overlay legend {
  padding: 0;
}

.chat-overlay ol,
.chat-overlay ul,
.chat-overlay menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
.chat-overlay dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

.chat-overlay textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

.chat-overlay input::-moz-placeholder, .chat-overlay textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

.chat-overlay input::placeholder,
.chat-overlay textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

.chat-overlay button,
.chat-overlay [role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
.chat-overlay :disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

.chat-overlay img,
.chat-overlay svg,
.chat-overlay video,
.chat-overlay canvas,
.chat-overlay audio,
.chat-overlay iframe,
.chat-overlay embed,
.chat-overlay object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

.chat-overlay img,
.chat-overlay video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
.chat-overlay [hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.chat-overlay .\!container {
  width: 100% !important;
}
.chat-overlay .container {
  width: 100%;
}
@media (min-width: 640px) {

  .chat-overlay .\!container {
    max-width: 640px !important;
  }

  .chat-overlay .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .chat-overlay .\!container {
    max-width: 768px !important;
  }

  .chat-overlay .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .chat-overlay .\!container {
    max-width: 1024px !important;
  }

  .chat-overlay .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .chat-overlay .\!container {
    max-width: 1280px !important;
  }

  .chat-overlay .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .chat-overlay .\!container {
    max-width: 1536px !important;
  }

  .chat-overlay .container {
    max-width: 1536px;
  }
}
.chat-overlay .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.chat-overlay .visible {
  visibility: visible;
}
.chat-overlay .fixed {
  position: fixed;
}
.chat-overlay .\!absolute {
  position: absolute !important;
}
.chat-overlay .absolute {
  position: absolute;
}
.chat-overlay .relative {
  position: relative;
}
.chat-overlay .sticky {
  position: sticky;
}
.chat-overlay .inset-0 {
  inset: 0px;
}
.chat-overlay .bottom-0 {
  bottom: 0px;
}
.chat-overlay .left-2 {
  left: 0.5rem;
}
.chat-overlay .right-0 {
  right: 0px;
}
.chat-overlay .top-0 {
  top: 0px;
}
.chat-overlay .top-1\/2 {
  top: 50%;
}
.chat-overlay .isolate {
  isolation: isolate;
}
.chat-overlay .z-10 {
  z-index: 10;
}
.chat-overlay .mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.chat-overlay .mt-2 {
  margin-top: 0.5rem;
}
.chat-overlay .block {
  display: block;
}
.chat-overlay .inline {
  display: inline;
}
.chat-overlay .flex {
  display: flex;
}
.chat-overlay .table {
  display: table;
}
.chat-overlay .grid {
  display: grid;
}
.chat-overlay .contents {
  display: contents;
}
.chat-overlay .hidden {
  display: none;
}
.chat-overlay .aspect-square {
  aspect-ratio: 1 / 1;
}
.chat-overlay .h-12 {
  height: 3rem;
}
.chat-overlay .h-20 {
  height: 5rem;
}
.chat-overlay .h-4 {
  height: 1rem;
}
.chat-overlay .h-5 {
  height: 1.25rem;
}
.chat-overlay .h-6 {
  height: 1.5rem;
}
.chat-overlay .h-\[90vh\] {
  height: 90vh;
}
.chat-overlay .h-full {
  height: 100%;
}
.chat-overlay .min-h-0 {
  min-height: 0px;
}
.chat-overlay .w-1 {
  width: 0.25rem;
}
.chat-overlay .w-4 {
  width: 1rem;
}
.chat-overlay .w-6 {
  width: 1.5rem;
}
.chat-overlay .w-full {
  width: 100%;
}
.chat-overlay .w-px {
  width: 1px;
}
.chat-overlay .max-w-2xl {
  max-width: 42rem;
}
.chat-overlay .flex-1 {
  flex: 1 1 0%;
}
.chat-overlay .flex-shrink {
  flex-shrink: 1;
}
.chat-overlay .shrink {
  flex-shrink: 1;
}
.chat-overlay .flex-grow {
  flex-grow: 1;
}
.chat-overlay .grow {
  flex-grow: 1;
}
.chat-overlay .-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.chat-overlay .transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.chat-overlay .cursor-not-allowed {
  cursor: not-allowed;
}
.chat-overlay .resize {
  resize: both;
}
.chat-overlay .grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.chat-overlay .flex-col {
  flex-direction: column;
}
.chat-overlay .items-center {
  align-items: center;
}
.chat-overlay .justify-center {
  justify-content: center;
}
.chat-overlay .gap-2 {
  gap: 0.5rem;
}
.chat-overlay .gap-6 {
  gap: 1.5rem;
}
.chat-overlay .space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.chat-overlay .overflow-hidden {
  overflow: hidden;
}
.chat-overlay .overflow-y-auto {
  overflow-y: auto;
}
.chat-overlay .rounded-\[10px\] {
  border-radius: 10px;
}
.chat-overlay .rounded-\[16px\] {
  border-radius: 16px;
}
.chat-overlay .rounded-full {
  border-radius: 9999px;
}
.chat-overlay .rounded-lg {
  border-radius: 0.5rem;
}
.chat-overlay .border {
  border-width: 1px;
}
.chat-overlay .border-none {
  border-style: none;
}
.chat-overlay .border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}
.chat-overlay .\!bg-\[\#E6E6E6\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(230 230 230 / var(--tw-bg-opacity, 1)) !important;
}
.chat-overlay .bg-\[\#E6E6E6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(230 230 230 / var(--tw-bg-opacity, 1));
}
.chat-overlay .bg-black\/40 {
  background-color: rgb(0 0 0 / 0.4);
}
.chat-overlay .bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
.chat-overlay .bg-transparent {
  background-color: transparent;
}
.chat-overlay .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.chat-overlay .p-2 {
  padding: 0.5rem;
}
.chat-overlay .p-5 {
  padding: 1.25rem;
}
.chat-overlay .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.chat-overlay .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.chat-overlay .pr-0 {
  padding-right: 0px;
}
.chat-overlay .text-\[0\.875rem\] {
  font-size: 0.875rem;
}
.chat-overlay .text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.chat-overlay .text-\[\#044a59\] {
  --tw-text-opacity: 1;
  color: rgb(4 74 89 / var(--tw-text-opacity, 1));
}
.chat-overlay .text-\[\#627076\] {
  --tw-text-opacity: 1;
  color: rgb(98 112 118 / var(--tw-text-opacity, 1));
}
.chat-overlay .text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.chat-overlay .text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
.chat-overlay .placeholder-\[\#627076\]::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(98 112 118 / var(--tw-placeholder-opacity, 1));
}
.chat-overlay .placeholder-\[\#627076\]::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(98 112 118 / var(--tw-placeholder-opacity, 1));
}
.chat-overlay .opacity-50 {
  opacity: 0.5;
}
.chat-overlay .outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.chat-overlay .outline {
  outline-style: solid;
}
.chat-overlay .blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.chat-overlay .filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.chat-overlay .transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.chat-overlay .transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
@keyframes enter {

  from {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0));
  }
}
@keyframes exit {

  to {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0));
  }
}
.chat-overlay .running {
  animation-play-state: running;
}
.chat-overlay .paused {
  animation-play-state: paused;
}
.chat-overlay .hover\:bg-\[\#E6E6E6\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(230 230 230 / var(--tw-bg-opacity, 1));
}
.chat-overlay .hover\:bg-black:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.chat-overlay .hover\:bg-transparent:hover {
  background-color: transparent;
}
.chat-overlay .hover\:text-gray-800:hover {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}
.chat-overlay .hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.chat-overlay .hover\:underline:hover {
  text-decoration-line: underline;
}
.chat-overlay .focus\:bg-transparent:focus {
  background-color: transparent;
}
.chat-overlay .focus\:text-gray-800:focus {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}
.chat-overlay .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.chat-overlay .disabled\:opacity-50:disabled {
  opacity: 0.5;
}
@media (min-width: 768px) {

  .chat-overlay .md\:w-64 {
    width: 16rem;
  }

  .chat-overlay .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}